.form-control {
  width: 200px;
  display: inline-block;
  float: center;
}

.titleContainer {
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 10px;

}

.dropdownContainer{
  margin: auto;
  width: 50%;
  padding-top: 10px;
  text-align: center;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Gurblipi';
  src: url('Gurblipi/gurblipi-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('Gurblipi/Gurblipi.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.hukamPrint {
  text-align: center;
  font-family: Gurblipi;
  font-size: 2.5em;
}
